.bg-image {
  background-image: url("../../assets/images/login-background.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#form-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}




