html, body {
  background-image: url("src/assets/images/welcome-background-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Numans', sans-serif;
}


